@font-face {
    font-family: 'aeroregular';
    src: url('../fuentes/681.eot');
    src: url('../fuentes/681.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/681.woff') format('woff'),
         url('../fuentes/681.ttf') format('truetype'),
         url('../fuentes/681.svg#aeroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}